.footer-container {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 25px;
}

a {
  text-decoration: none;
  color:aliceblue;
}
